body {
  font-size: 16px;
  color: #fff;
  background-color: #F4CEAC;
  font-family: 'Playfair Display', serif;
}

#header-nav {
  background-color: #FFFFFF!important;
}

header img {
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}


.navbar-brand h1 {
  color: #F4CEAC;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #b56117;
  margin-top:15%;
}
.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;}
  
.material-icons{color:black; font-size:40px!important;}
.navbar-nav li a{
	display:block;
	color:black!important;
	text-align:center;
	padding: 10px;
	text-decoration:none!important;
}
li a:hover{background-color: #F4CEAC;}

.menu-section {
	text-align:center;
	font-size: 25px;
	
}
.menu-section ul{
  list-style:none;
	
}
.menu-section li p{font-size: 15px; letter-spacing: 2px; line-height: 1.6;}
li img{
  width: 100%;
  height: auto;
  margin-bottom:5px;
	
}
#contact a{color:black!important; text-decoration:none!important; font-size: 25px;}
ul#contact{
  margin-left:0px!important;
  padding-left:0px!important;
}



/********** Extra small devices only **********/
@media (max-width: 767px) {
  .list-group-item{padding: 5px;}
}